@keyframes gros-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.gros-spinner {
    path.outer {
        fill: #B400C8;
    }
    path.inner {
        fill: #507AFF;
    }
}
